@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-10px);
    }
}

@-o-keyframes bounce {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-10px);
    }
}
