body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    background-color: get-color("foreground");
    padding: 3rem;
}

.chat-sim-container {
    max-width: 1800px;
    background-color: get-color("background");
}

.chat-toggle-container {
    background-color: get-color("foreground");
    div {
        background-color: get-color("accent-variant");
        @include black-text;
    }
    .active {
        background-color: get-color("background");
        border-bottom: none;
        text-decoration: underline;
    }
}

.chat-bubble-container {
    @include anim-appear;
    .chat-bubble {
        position: relative;
        background: get-color("accent-variant");
        @include rounded-corners-all;
        @include black-text;
        text-align: center;
        &.bubble-origin-left:before,
        &.bubble-origin-right:before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 12px solid get-color("accent-variant");
            border-right: 6px solid transparent;
            border-top: 6px solid get-color("accent-variant");
            border-bottom: 10px solid transparent;
            left: 32px;
            bottom: -16px;
        }
        &.bubble-origin-right:before {
            border-right: 12px solid get-color("accent-variant");
            border-left: 6px solid transparent;
            left: initial;
            right: 32px;
        }
    }
    .chat-bubble-user-icon {
        height: 30px;
        width: 30px;
        @include rounded-corners-all;
        &.left-user-bubble {
            background-color: get-color("primary");
            @include white-text;
        }
        &.right-user-bubble {
            background-color: get-color("secondary");
            @include white-text;
        }
    }
}

.chat-input {
    background-color: get-color("accent-variant");
    resize: none;
    &:focus {
        background-color: get-color("accent-variant");
    }
}

.chat-input-button {
    background-color: get-color("success");
}

/* Util */

.rounded-corners-all {
    @include rounded-corners-all;
}

.rounded-corners-top {
    @include rounded-corners-top;
}

.right-border {
    border-right: 1px solid get-color("accent");
}

.top-border {
    border-top: 1px solid get-color("accent");
}
