body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    background-color: $black;
    padding: 3rem;
}

.chat-sim-container {
    // max-width: 1200px;
    background-color: $blueDark;
}

.chat-toggle-container {
    background-color: $blueMid;
    div {
        @include rounded-corners-top-left;
        @include rounded-corners-top-right;
        border: 1px solid $black;
        border-bottom: none;
    }
    .active {
        background-color: $blueDark;
    }
}

.chat-bubble {
    position: relative;
    background: #fff;
    @include rounded-corners-all;
    padding: 24px;
    text-align: center;
    color: #000;
    &.bubble-origin-left:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 12px solid #fff;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
        border-bottom: 10px solid transparent;
        left: 32px;
        bottom: -16px;
    }
    &.bubble-origin-right:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-right: 12px solid #fff;
        border-left: 6px solid transparent;
        border-top: 6px solid #fff;
        border-bottom: 10px solid transparent;
        right: 32px;
        bottom: -16px;
    }
}

.chat-bubble-user-icon {
    height: 30px;
    width: 30px;
    @include rounded-corners-all;
    background-color: $blueLight;
}

/* Util */

.rounded-corners-all {
    @include rounded-corners-all;
}

.rounded-corners-top {
    @include rounded-corners-top-left;
    @include rounded-corners-top-right;
}

.overflow-auto {
    overflow: auto;
}
