body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    background-color: get-color("background3");
    padding: 3rem;
}

.chat-sim-container {
    max-width: 1800px;
    background-color: get-color("background5");
    border-radius: 0.5rem;
}

.chat-toggle-container {
    background: get-color("background3");
    div {
        background: get-color("primary-variant");
        @include white-text;
        border: 1px solid get-color("secondary");
        border-bottom: none;
    }
    .active {
        background: get-color("background5");
        border-bottom: none;
        text-decoration: underline;
        border: 1px solid get-color("primary-variant");
        border-bottom: none;
    }
}

.chat-bubble-container {
    @include anim-appear;
    .chat-bubble {
        position: relative;
        background: get-color("background2");
        @include rounded-corners-all;
        @include black-text;
        text-align: center;
        min-width: 100px;
        &.bubble-origin-left:before,
        &.bubble-origin-right:before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid get-color("background2");
            border-right: 5px solid transparent;
            border-top: 5px solid get-color("background2");
            border-bottom: 8px solid transparent;
            left: 22px;
            bottom: -13px;
        }
        &.bubble-origin-right:before {
            border-right: 10px solid get-color("background2");
            border-left: 6px solid transparent;
            left: initial;
            right: 22px;
        }
    }
    .chat-bubble-user-icon {
        height: 30px;
        width: 30px;
        @include rounded-corners-all;
        &.left-user-bubble {
            background-color: get-color("primary");
            @include white-text;
        }
        &.right-user-bubble {
            background-color: get-color("primary-variant");
            @include white-text;
        }
    }
}

.chat-input {
    background: get-color("background2");
    resize: none;
    &:focus {
        background: get-color("background2");
    }
}

.chat-input-button {
    background-color: get-color("secondary-variant");
    @include white-text;
}

.is-typing {
    span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 2px;
        background-color: get-color("primary-variant");
        @include anim-bounce;
        &:nth-child(2) {
            animation-delay: -1.1s;
        }
        &:nth-child(3) {
            animation-delay: -0.9s;
        }
    }
}

/* Util */

.rounded-corners-all {
    @include rounded-corners-all;
}

.rounded-corners-top {
    @include rounded-corners-top;
}

.right-border {
    border-right: 1px solid get-color("accent");
}

.top-border {
    border-top: 1px solid get-color("accent");
}
