$color-theme: (
    "primary": rgb(53, 58, 186),
    "primary-variant": rgb(43, 161, 253),
    "secondary": rgba(53, 58, 186, 0.5),
    "secondary-variant": rgba(43, 161, 253, 0.3),
    "success": rgb(120, 192, 67),
    "danger": rgb(237, 28, 58),
    "background1": #ffffff,
    "background2": rgb(221, 221, 221),
    "background3": rgb(129, 138, 145),
    "background4": rgba(53, 58, 186, 0.1),
    "background5": rgb(94, 104, 112),
);

@function get-color($key: "primary") {
    @return map-get($color-theme, $key);
}

$defaultRoundedCorners: 1rem;

@mixin rounded-corners-all {
    border-radius: $defaultRoundedCorners;
}

@mixin rounded-corners-top {
    border-top-left-radius: $defaultRoundedCorners;
    border-top-right-radius: $defaultRoundedCorners;
}

@mixin black-text {
    color: black;
}

@mixin white-text {
    color: white;
}

@mixin anim-appear {
    -moz-animation: appear 0.5s 1;
    -o-animation: appear 0.5s 1;
    animation: appear 0.5s 1;
}

@mixin anim-bounce {
    -moz-animation: bounce 1.3s linear infinite;
    -o-animation: bounce 1.3s linear infinite;
    animation: bounce 1.3s linear infinite;
}
