$black: #001219;
$blueDark: #005f73;
$blueMid: #0a9396;
$blueLight: #94d2bd;
$offWhite: #e9d8a6;
$orangeYellow: #ee9b00;
$orangeMid: #ca6702;
$orangeLight: #bb3e03;
$redDark: #ae2012;
$redLight: #9b2226;
