$color-theme: (
    "primary": #76323f,
    "accent": #d98328,
    "accent-variant": #c09f80,
    "secondary": #5a1321,
    "success": #6ac58a,
    "foreground": #565656,
    "background": #d7cec7,
);

@function get-color($key: "primary") {
    @return map-get($color-theme, $key);
}

$defaultRoundedCorners: 1rem;

@mixin rounded-corners-all {
    border-radius: $defaultRoundedCorners;
}

@mixin rounded-corners-top {
    border-top-left-radius: $defaultRoundedCorners;
    border-top-right-radius: $defaultRoundedCorners;
}

@mixin black-text {
    color: black;
}

@mixin white-text {
    color: white;
}

@mixin anim-appear {
    -moz-animation: appear 0.5s 1;
    -o-animation: appear 0.5s 1;
    animation: appear 0.5s 1;
}

@mixin anim-bounce {
    -moz-animation: bounce 1.3s linear infinite;
    -o-animation: bounce 1.3s linear infinite;
    animation: bounce 1.3s linear infinite;
}
